@import "tailwindcss";

@layer base {
    html {
        font-size: 13px;
        /* Slightly reduced from default 16px */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}